In [1]:
!conda info

     active environment : base
    active env location : C:\Users\ASUS\anaconda3
            shell level : 1
       user config file : C:\Users\ASUS\.condarc
 populated config files : C:\Users\ASUS\.condarc
          conda version : 22.11.1
    conda-build version : 3.22.0
         python version : 3.9.13.final.0
       virtual packages : __archspec=1=x86_64
                          __win=0=0
       base environment : C:\Users\ASUS\anaconda3  (writable)
      conda av data dir : C:\Users\ASUS\anaconda3\etc\conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : C:\Users\ASUS\anaconda3\pkgs
                          C:\Users\ASUS\.conda\pkgs
                          C:\Users\ASUS\AppData\Local\conda\conda\pkgs
       envs directories : C:\Users\ASUS\anaconda3\envs
                          C:\Users\ASUS\.conda\envs
                          C:\Users\ASUS\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/22.11.1 requests/2.28.1 CPython/3.9.13 Windows/10 Windows/10.0.17134
          administrator : False
             netrc file : None
           offline mode : False

In [3]:
!python --version

Python 3.9.13

In [6]:
%conda install pandas

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

# All requested packages already installed.

In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("google-stock-dataset.csv")
df

    Month Starting    Open    High     Low   Close Change % Avg. Volume
0    Dec. 01, 2022  101.38  102.59  100.67  101.28   -0.17%  21.771.536
1    Nov. 01, 2022   95.59  101.45   83.45  101.45    7.17%  28.294.944
2    Oct. 03, 2022   97.22  105.10   91.90   94.66   -1.55%  27.843.110
3    Sep. 01, 2022  109.20  112.64   96.03   96.15  -11.91%  25.381.194
4    Aug. 01, 2022  115.53  123.26  108.80  109.15   -6.42%  18.737.451
..             ...     ...     ...     ...     ...      ...         ...
103  May. 01, 2014   26.35   28.39   25.16   27.99    6.31%  34.808.252
104  Apr. 01, 2014   27.93   30.24   25.14   26.33   -5.44%  64.037.909
105  Mar. 27, 2014   28.40   28.40   27.65   27.85    0.00%     432.192
106            NaN     NaN     NaN     NaN     NaN      NaN         NaN
107            NaN     NaN     NaN     NaN     NaN      NaN         NaN

[108 rows x 7 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Month Starting  106 non-null    object
 1   Open            106 non-null    float64
 2   High            106 non-null    float64
 3   Low             106 non-null    float64
 4   Close           106 non-null    float64
 5   Change %        106 non-null    object
 6   Avg. Volume     106 non-null    object
dtypes: float64(4), object(3)
memory usage: 6.0+ KB

In [16]:
df.shape

(108, 7)

In [17]:
df.isnull().sum()

Month Starting    2
Open              2
High              2
Low               2
Close             2
Change %          2
Avg. Volume       2
dtype: int64

In [18]:
df.fillna(0);